@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

#contents {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

#content {
	display: block;
    padding-bottom: 18px;
	max-width: 100%;
}

#content.logo {
/*    margin-top: 80px;*/
/*    margin-bottom: 80px;*/
/*    margin-right: 20%;*/
	width: 80%;
}

#content.footer {
	display: block;
	position: relative;
	margin-top: 18px;
	min-height: 120px;
	background-color: RGBA(64, 64, 64, 0.9);
}

#copyrightnotice {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
	color: #fff;
}

img {

}

body {
	background-color: #888;
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center;
	background-size: 100%;
}
